.autoW {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f1f1f1;
}

.layout {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.just-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.user-select {
    user-select: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}