<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
  @require('../../ejs-include/head.ejs')
  @require('../../ejs-include/font-size-rem.ejs')
</head>
<body>
  <div id="app">
    <section>
      loading...
    </section>
  </div>
</body>
</html>